.logo {
    max-height:4em;
    margin-top: -2em;
}

.customnav {
  height:7em;
}

.customnav > div {
  padding-top: 1.5em;
}

}
header > .container {
  opacity:1;
}

.customul > li > a {
  color:black;
}

.intro-lead {
  font-size:3em;
}
.introtext {
  background-color: rgba(10,10,10,0.1);
}
.introductiontext {
  font-size: 1em;
}
#services {
  margin-top:-8em;
}
.col-md-6 > img {
  margin-top: 7em;

}
.uofe {
  max-height: 7em;
}
.date {
  margin-top:em;
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  font-size: 2em;

}
